/* .mat-stepper-horizontal {
    margin-top: 8px;
    background-color: lightgrey;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .content{
    padding-top: 10px;
}

.row{
    display: flex;
    gap:10px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

.action{
    padding: 0px 25px 20px;
}

.action button{
    flex: 1;
}
  
.sahi{
    width: 50%;
}
 */

 .bg {
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

form {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.success-message {
  background-color: #d3e0dc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"] {
  background-color: #2ecc71;
  color: #fff;
  border: none;
}

button[type="submit"]:hover {
  background-color: #27ae60;
}

button[type="button"] {
  background-color: #3498db;
  color: #fff;
  border: none;
}

button[type="button"]:hover {
  background-color: #2980b9;
}


