<div class="about-section">

    <h1>About Us Page</h1>

    <p>Job Finder strives to put job seekers first, giving them free access to search for jobs and research companies. Every day, we connect millions of people to new opportunities.

        Job Finder provides people with various resources to search for, apply to and compare job opportunities.

        By familiarizing yourself with how to use Job Finder's job search tools, you can find various job positions that align with your career goals.

        Posting and Searching for a job on Job Finder is free. You will need to be a registered user in order to post a job. Hit the Signup button.</p>

    <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->

  </div>

  <br>

  <h2 style="text-align:center">About Myself</h2>

  <div class="row" style="justify-content: center;">
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/Shobhit-image.png" alt="Shobhit" class="img">
        <div class="container">
          <h2>Shobhit Chaurasia</h2>
          <p class="title">Graduate Trainee Engineer</p>
          <p>I'm Shobhit Chaurasia. My interest lies in Open Source Contributions, Web development and Competitive Programming. I know the MERN/MEAN stack. I was also selected in Google Summer of Code 2022.</p>
          <p>shobhit.chaurasia@godigit.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>